* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: hsl(194, 98%, 19%);
  min-height: 100svh;
}

h1 {
  color: #fff;
  font-size: 50px;
  text-align: center;
}

div {
  max-width: 320px;
  min-height: 200px;
  border: solid 5px white;
  padding: 20px;
  margin: 100px auto;
}
